<header>
    <div class="menu">
        <i class="fas fa-bars"></i>
     </div>
     <div class="left">
        <img src="/images/Logo.svg" alt="">
        <form action="#">
            <input type="text" ><button type="submit"><i class="fas fa-search"></i></button></input>
        </form><!-- Cuadro de busqueda -->
     </div>

     <div class="right">
        <div class="icon">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-whatsapp"></i>
        </div><!-- Iconos de redes -->
     </div>


 </header>