<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle producto</title>
    </head>
<body>
    <%-include ('./partials/header') %> <!-- importando header -->
    <main>
        <h1>HOLA <%= user.nombre %></h1>
        <button> <a href="/user/cerrarSesion">Logout</a> </button> <!-- button de cerrar sesion -->
    </main>
    <%-include ('./partials/footer') %> <!-- importando footer -->
</body>
</html>