<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css"> <!-- Configuración de carpeta para diseños CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /><!-- Link para obtener iconos de la pagina enlazada, para agregar se debe ver la sintaxis que muetsra la pagina -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
 <header>
    <div class="menu">
        <i class="fas fa-bars"></i>
     </div>
     <div class="left">
        <img src="/images/Logo.svg" alt="">
        <form action="#">
            <input type="text" ><button type="submit"><i class="fas fa-search"></i></button></input>
        </form><!-- Cuadro de busqueda -->
     </div>

     <div class="right">
        <div class="icon">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-whatsapp"></i>
        </div><!-- Iconos de redes -->
     </div>


 </header>
 <main>
     <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>

        </div>
     </article>
     <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
          
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
          
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
        
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
      
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
       
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
  
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
         
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>
        
        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>

        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>

        </div>
    </article>
    <article>
        <img src="/images/fimo.jpg" alt="">
        <div class="vermas">
            <label for="btn-ver">Producto X </label>

        </div>
    </article>

 </main>
 <footer>
 </footer>
</body>
</html>