footer {
    background-color: #e4e7bb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    width: 100%;
    height:100%
}
footer h4 {
    font-family: var(--Dongle-font);
    font-size: var(--title-md);
    color: #3E6B1C
}