* {
    margin: 0;  /*Definimos un margen de 0*/
    padding: 0;/* Definimos un padding de 0 */
    box-sizing: border-box; /*con esta propiedad definimos que el margin y el padding sean incluidos dentro del tamaño de las cajas*/
} /* Propiedades generales de Cajas */

:root{
    --gris-oscuro: #666;
    --gris-claro: #ebebeb;
    --verde-text:#125C13;
    --verde: #39b54a;
    --negro: black;
    --blanco: #fff;
    /*Tamaños de fuentes*/
    --botones:3vw;
    --titulos:5vw;
    --precios:2vw;
    --text-sm: 1.2em;
    --text-md: 2.5em;
    --text-lg: 3em;
    --title-md: 4em;
    /* Text size news */
    --h1:1.5rem;
    --iconos:1.5rem;
    --h2:3vw;
    /*Fuentes descargadas de web*/
    --fuente: 'Open Sans Condensed', sans-serif;
    
}