.mainProductos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap:20px;
}

.mainProductos article {
    width: 25%;
    height: 25%;
    position: relative;
    overflow:hidden;
    padding: 15PX;
}
.mainProductos article:hover img{
    opacity: 12%;
    
}

.mainProductos article img{
    width: 100%;
    height: 100%;
}
.mainProductos article .vermas{
    opacity: 0%;
    width: 30px;
    height: 30px;
    left: 0px;
    top: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}

.mainProductos article:hover .vermas{
    opacity:60%;
    width: 100%;
    height: 100%;
    transition: opacity ease-in 800ms, transform 1s;
    transform: rotate(360deg);
}



.mainProductos article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
    
}
.mainProductos article .vermas .titulo{
    font-family: var(--fuente);
    font-size: var(--h2);
    color: black;
    font-weight: bold;
}
.mainProductos article .vermas .precio{
    font-family: var(--fuente);
    font-size: var(--precios);
    color: black;
    font-weight: bold;
}
.mainProductos article .vermas a{
    font-family: var(--fuente);
    font-size: 3vw;
    color: black;
    font-weight: bold;
    border-bottom:solid 2px;
    border-top:solid 2px;
    text-decoration: none;

}