
.detalleProducto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#f2f5c7;
    
}

.detalleProducto .imagenDetalle{
    width:50%;
    display: flex;
    justify-content: center;
}
.detalleProducto .imagenDetalle img{
    width: 70%;
    background-color: white;
    border-radius: 50%;

}

.detalleProducto .descripcionDetalle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-left: 1px solid #7ca04f;
    padding-left: 10px;
    
}
.detalleProducto .descripcionDetalle .formCompra{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    
}
.detalleProducto .descripcionDetalle .formCompra label, h2{
font-family: var(--fuente);
font-size: var(--text-lg);

    
}
.detalleProducto .descripcionDetalle .formCompra label, h3{
    font-family: var(--fuente);
    font-size: var(--text-lg);

        
    }
.detalleProducto .descripcionDetalle .formCompra .listas{
    display: flex;
    flex-direction:row;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
}
.detalleProducto .descripcionDetalle .formCompra .listas input{
color: #7ca04f;
width: 50px;
height: 30px;
}





#detalleColor {
display: flex;
flex-direction: column;

}
#listaColores{
    display: flex;
    flex-direction: row;
    gap:5px
}
#listaColores a{
width: 25px;
height: 25px;
}

#cantidad{
color: red;
border-radius: 5px;
width: 20%;
height: 20px;
}