<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %> <!-- importando header -->
    <main class="mainCrearProducto">
        <div class="iconoStock">
            <i class="fas fa-cubes"></i>
        </div><!-- icono superior de la vista -->
        <h1>Complete los datos del nuevo producto</h1>
        <form action="/admin/nuevo" method="POST"  enctype="multipart/form-data" > <!-- enctype="multipart/form-data"> --> <!-- Usar esta config cuando se va a subir imagenes en el form sino se puede quitar el elemento o configurar  enctype="application/x-www-form-urlencoded"  para solo texto -->
            
            <div>
                <label for="titulo">Nombre</label>
                <input type="text" id="titulo" name="titulo"  placeholder="Ingrese nombre de producto" >
            </div>
            <div>
                <label for="descripcion">Descripción</label>
                <input type="text" id="descripcion" name="descripcion"  placeholder="Ingrese descripcion de producto" >
            </div>
            <div>
                <label for="precio">Precio</label>
                <input type="text" id="precio" name="precio" placeholder="Ingrese cantidad disponible" >
            </div>
            <div>
                <label for="colores">Colores</label>
                <input type="text" id="colores" name="colores" placeholder="Ingrese colores disponibles" >
            </div>
            <div>
                <label for="imagen">Imagen de descripción</label>
                <input type="file" id="imagen" name="imagen" placeholder="Ingrese imagen de referencia" >
            </div>
            <div >
                <input type="submit" value="Guardar">
            </div><!-- caja que contiene el boton de guardar -->
        </form><!-- formulario de registro del nuevo producto -->
    </main>
    <%- include ('../partials/footer') %> <!-- importando footer -->
    </body>
</html>