<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head') %>
<body>
    <%- include ('../partials/header') %> <!-- importando header -->
    <main class="mainHome"> 
<!--         <div class="carrusel">
            <div class="grande">
                <img src="#" alt="imagen 1" class="img">
                <img src="#" alt="imagen 2 " class="img">
            </div>
            <ul class="puntos">
                <li class="punto activo"></li>
                <li class="punto"></li>
            </ul>
        </div> -->
        <section>
            <picture class="imagenSeccion">
                <a href="#"> <img src="/images/rodio.png" alt=""></a>
               
            </picture>
            <div class="descripcionSeccion">
                <h2>RODIO</h2>
                <p>Dijes en rodio para todos tus die침os</p>
            </div>
        </section><!-- Secci칩n de accesorios -->

        <section>
            <div class="descripcionSeccion">
                <h2>Acero</h2>
                <p>Dijes en acero para tus accesorios</p>
            </div>
            <picture class="imagenSeccion">
                <a href="/products"><img src="/images/acero.png" alt=""></a>
            </picture>
        </section><!-- Secci칩n de alimentos -->

        <section>
            <picture class="imagenSeccion">
                <a href="#"> <img src="/images/sintetico.png" alt=""></a>
               
            </picture>
            <div class="descripcionSeccion">
                <h2>Sintetico</h2>
                <p>Gran variedad de figuras sinteticas inyectadas que no se deterioran</p>
            </div>
        </section><!-- Secci칩n de aseo -->

    </main>
    <%- include ('../partials/footer') %> <!-- importando footer -->
    <script src="../../js/main.js" type="module"></script>
</body>
</html>