/* MAIN */
.mainHome{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: 100vh;
    justify-content: center;
    
    
}
.mainHome section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:15px;
  
}

.mainHome section .imagenSeccion{
    max-width: 50vw;
}
.mainHome section .imagenSeccion img{
    width: 100%;
    background-color: #f2f5c7d4;
    border-radius: 50%;
}

/* ESTILOS DE TEXTO */
.mainHome .descripcionSeccion p{
    font-family: var(--fuente);
    font-size: var(--text-sm);
    margin: 10px;
    
}
.mainHome .descripcionSeccion h2{
    font-family: var(--fuente);
    font-size: var(--text-lg);
    font-weight: 400;
    text-anchor: start;
    margin: 10px;
}
