.mainMaster .usuarios{
    display: flex;
    flex-direction: column;
    gap:15px
}
.mainMaster form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.mainMaster form label, p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: var(--fuente);
    font-size: var(--font-size-M);
}

.mainMaster form select, input{
    padding: 5px;
    font-family: var(--fuente);
    font-size: var(--font-size-M);
    border-radius: 10px;
       
}
#id{
    display: none;
}